<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecomerce</title>
</head>

<body>
    <header>
        <ul class="lista-header">
            <li><a>Home</a></li>
            <li><a>Productos</a></li>
            <li><a>Nosotros</a></li>
        </ul>
    </header>
    <h1>Bienvenidos</h1>
    {{!-- Incrusta VISTAS en este LAYOUT --}}
    {{{body}}}
    <footer>
        <ul class="lista-footer">
            <li><a>Home</a></li>
            <li><a>Productos</a></li>
            <li><a>Nosotros</a></li>
        </ul>
    </footer>

</body>

</html>